.header {
    background-color: green;
    height: 4rem;
    font-size: 33px;
    color: white;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 10%;
    padding-left: 2%;
    width: 98%;
    display: flex;
    justify-content: space-between;
  }
.logoimg{
  width: 45%;
}
@media screen and (max-width:440px){
  .header{
    font-size: 23px;
  }
  .logoimg{
    width: 30%;
    margin-left: 30%;
  }
}