/* .bi{
  background-image: url("images/bg_heading.svg");
} */
.image1 {
    width:92%;
    margin-left: 4%;
  }
  
.heading {
    font-size: 150%;
    /* padding-top: 5rem; */
    margin-left: 3rem;
    margin-right: 6rem;
  }
  .heading h1 {
    text-align: center;
  }
  .mb{
   margin-bottom: 8%;
  }
  .quote{
    font-family: 'Fugaz One', cursive;
    color: rgb(64, 102, 58);
    margin-top: 2%;
    text-align: center;
  }
@media screen and (max-width: 55rem){
    .heading{
      font-size: 1rem;
      margin-left: 4%;
      margin-right: 4%;
    }
    .heading p{
        font-size: 0.8rem;
    }
    .bn{
        margin-top: 2%;
        margin-left: 25%;
        margin-right: 25%;
        width: 50%;
    }
  }
