

.flexing {
  display: flex;
  justify-content: space-evenly;
  /* margin-top: 5rem; */
}

button {
  border: 0px;
  color: white;
  background-color: green;
  border-radius: 5px;
  padding: 10px;
}

.flexing p1 {
  font-size: 21px;
}

@media screen and (max-width: 55rem){
  .flexing{
    flex-direction: column;
  }
  
}